#page-privacy { margin-bottom: 210px; }
/* Hero */ 
	#page-privacy #hero h1 { margin-top: 51px; height: 70px; margin-bottom: 59px; margin-left: -12px; }
	#page-privacy #hero h1 span { padding-left: 9px; padding-right: 4px; background: #F2F2F2; float: left; }