#page-services-agreement { padding-bottom: 210px; }
#page-services-agreement #hero h1 { margin-top: 51px; height: 70px; margin-bottom: 59px; margin-left: -12px; }
#page-services-agreement #hero h1 span { background: #F2F2F2; padding: 7px 7px 0; }
.hidden_panel {
	display: none;
}
