#page-404 #hero { background: #7629f4; position: relative; z-index: 100; color: #FFF; }
#page-404 #hero h1 { line-height: 1; margin: 67px 0 51px; }
#page-404 #sign-up { padding-top: 0px;  margin: 126px auto; }